<!DOCTYPE html>
<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITIAN Project</title>

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'account:list' %}">Accounts</a></li>
                <li><a href="{% url 'trainee:list' %}">Trainees</a></li>
                <li><a href="{% url 'track:list' %}">Tracks</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 ITIAN Project</p>
    </footer>
</body>
</html>
